form.search {
  width: 60%;
  padding: 32px;
  margin: auto;
  margin-top: 64px;
  background-color: white;
  border-radius: 1rem;
}

.table {
  margin-top: 64px;
  background-color: white;
  border-radius: 1rem;
  cursor: pointer;
}

.star {
  color: red;
}

.business-card {
  margin: auto;
  margin-top: 64px;
  padding-top: 32px;
  padding-bottom: 16px;
  text-align: center;
  background-color: white;
  width: 60%;
}

.nav.nav-tabs {
  margin-top: 16px;
  font-weight: 500;
  background-color: #F9D85F;
  display: flex;
  justify-content: center;
}

.nav-tabs {
  --bs-nav-tabs-border-width: 1px;
  --bs-nav-tabs-border-color: #dee2e6;
  --bs-nav-tabs-border-radius: 0.375rem;
  --bs-nav-tabs-link-hover-border-color: #F9D85F #F9D85F #F9D85F;
  --bs-nav-tabs-link-active-bg: #F9D85F;
  --bs-nav-tabs-link-active-color: black;
  --bs-nav-tabs-link-active-border-color: #F9D85F #F9D85F black #F9D85F;
  border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}

.nav-tabs .nav-link {
  color: gray;
}

.nav-item {
  margin: 0 1rem;
}

.arrow {
  float: left;
  position: relative;
  top: -24px;
  left: 8px;
}

h3 {
  cursor: pointer;
}

.business-details {
  margin-top: 24px;
}

.business-details .row {
  padding: 8px;
}

.reserve-button {
  margin: auto;
  width: 128px;
}

.carousel img {
  max-width: 100%;
  max-height: 480px;
}

.carousel-indicators {
  display: none;
}

#react-aria3012055448-1-tabpane-map {
  margin-top: 16px;
}

.review {
  text-align: left;
  padding-top: 8px;
}

.review-user {
  font-weight: 500;
}

.bottom {
  height: 32px;
}

body > div.fade.modal.show > div > div > div.modal-body > h5 {
  text-align: center;
}

.modal-content .form-label {
  margin-bottom: 0;
}

.submit-reservation {
  margin-top: 16px;
}

.reservation-time select {
  padding-right: 64px;
}

.reservation-time img {
  width: 32px;
  height: 20px;
  margin: auto;
  margin-left: 0;
  padding-left: 0;
}

.share-on img {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  vertical-align: bottom;
}

.no-results {
  margin: auto;
  margin-top: 64px;
  text-align: center;
  color: red;
  background-color: white;
  width: 40%;
  border-radius: 16px;
}

.cancel-button {
  width: 164px;
  margin: auto;
}

.search h5 {
  text-align: center;
}

.form-button-submit:hover {
  background-color: darkred;
}

.form-button-clear:hover {
  background-color: darkblue;
}

.col-md-auto {
  flex: 0 0 auto;
  width: auto;
}

@media screen and (max-width: 400px) {
  form.search {
    width: 100%;
  }

  .table {
    font-size: 12px;
  }

  .table img {
    width: 40px;
    height: 40px;
  }

  .business-card {
    width: 100%;
  }

  .business-card .carousel-item img {
    width: 100%;
    height: 100%;
  }

  .submit-reservation {
    justify-content: center;
  }

  body > div.fade.modal.show > div > div > div.modal-body > form > div.justify-content-md-center.row > div {
    margin: auto;
  }
}

