.background {
  height: 100vh;
  width: 100vw;
  background-size: 140%;
  background-position: bottom center;
  background-repeat: no-repeat;
  overflow: auto;
}

.nav-bar.col-md-auto {
  height: 48px;
  margin-top: 8px;
  margin-left: auto;
}

.nav-bar.col-md-auto button {
  border: none;
  padding: 8px;
  margin-right: 8px;
  font-weight: 500;
}

.nav-bar.col-md-auto button:hover {
  background-color: white;
  --bs-btn-hover-color: none;
}

.nav-bar.col-md-auto button:active {
  --bs-btn-active-bg: white;
}

.nav-bar.col-md-auto a button {
  color: black;
  text-decoration: none;
}
