.business-header {
  margin: auto;
  padding-top: 32px;
  padding-bottom: 16px;
  width: 680px;
  text-align: center;
  border-bottom: solid;
  border-width: 1px;
  border-color: lightgrey;
}

.business-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 32px;
}

.detail-container {
  margin-bottom: 32px;
  margin-left: 16px;
}

.detail {
  padding-top: 6px;
  font-size: 12px;
  font-weight: normal;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8px;
  margin: auto;
  padding-bottom: 16px;
  width: 700px;
}

.image {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 36px;
}

.images > div {
  border: solid;
  border-width: 1px;
  border-color: lightgray;
  position: relative;
}

.images > div > span {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  display: block;
  position: absolute;
  bottom: 0;
  right: 40%;
  padding-bottom: 6px;
}
