.results {
  margin-top: 36px;
}

.no-results {
  width: 700px;
  margin: auto;
  text-align: center;
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: lightgrey;
}

.table {
  margin: auto;
  margin-top: 128px;
  border-collapse: collapse;
}

.table > tbody > tr > th {
  height: 40px;
  background-color: royalblue;
  border: solid;
  border-width: 2px;
  border-color: lightgrey;
}

.table > tbody > tr {
  text-align: center;
  background-color: white;
}

.table > tbody > tr > td {
  height: 40px;
  border: solid;
  border-width: 2px;
  border-color: lightgrey;
}

.table > tbody > tr > td > img {
  padding: 4px;
}

.business-cell:hover {
  text-decoration: underline;
}
